@page "/"
@inject GameClient GameClient

<h1>Rochambot!</h1>

<p>GameId: @GameClient.Id</p>
<p>Status: @status</p>
<p>BotShape: @botShape</p>
<p>PlayerShape: @playerShape</p>
<p>Oponent: @GameClient.Oponent?.Id</p>

@if(GameClient.Oponent == null)
{
    <div id="RequestGame">
        <button type="button" class="btn btn-primary btn-lg" onclick="@RequestGame">Request Game</button>
    </div>
}
else
{
    <div id="game">
        <button type="button" class="btn btn-primary btn-lg" onclick="@(() => Play(Shape.Rock))">
            <i class="fas fa-hand-rock"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg" onclick="@(() => Play(Shape.Paper))">
            <i class="fas fa-hand-paper"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg" onclick="@(() => Play(Shape.Scissors))">
            <i class="fas fa-hand-scissors"></i>
        </button>
    </div>
}

@functions {

    Shape botShape;
    Shape playerShape;
    string status;

    async Task Play(Shape playerPick)
    {
        status = "Waiting for bot...";
        var shape = await GameClient.RequestShape();
        botShape = await GameClient.RequestShape();
        status = "Done.";
    }

    async Task RequestGame()
    {
        status = "Requesting game...";
        await GameClient.RequestGame();
        status = "Game found.";
    }
}